<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="episerver.framework" type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework.AspNet" />
    <sectionGroup name="FrameworkProviders">
      <section name="dataService" type="Mediachase.Data.Provider.DataProviderSection, Mediachase.DataProvider" />
    </sectionGroup>
    <sectionGroup name="CommerceFramework">
      <section name="Application" type="Mediachase.Commerce.Core.CoreConfiguration,Mediachase.Commerce" />
      <section name="Catalog" type="Mediachase.Commerce.Catalog.CatalogConfiguration,Mediachase.Commerce" />
      <section name="Marketing" type="Mediachase.Commerce.Marketing.MarketingConfiguration,Mediachase.Commerce" />
      <section name="Orders" type="Mediachase.Commerce.Orders.OrderConfiguration,Mediachase.Commerce" />
      <section name="Security" type="Mediachase.Commerce.Security.Configuration.SecurityConfigurationSection,Mediachase.Commerce" />
      <section name="Customers" type="Mediachase.Commerce.Customers.Configuration.CustomerConfiguration,Mediachase.Commerce" />
      <section name="AssetManagement" type="Mediachase.Commerce.Assets.AssetConfiguration, Mediachase.Commerce" />
      <section name="SSL" type="Mediachase.Commerce.Website.Ssl.SecureWebPageSectionHandler, Mediachase.Commerce.Website" />
      <section name="Mediachase.Search" type="Mediachase.Search.SearchConfiguration,Mediachase.Search" />
      <section name="Customization" type="Mediachase.Commerce.Customization.Configuration.CustomizationConfiguration,Mediachase.Commerce" />
    </sectionGroup>
    <sectionGroup name="mediachase.businessFoundation.data" type="Mediachase.BusinessFoundation.Data.Configuration.MediachaseDataSectionGroup, Mediachase.BusinessFoundation.Data">
      <section name="metaClassManager" type="Mediachase.BusinessFoundation.Data.Meta.Management.Configuration.MetaClassManagerSection, Mediachase.BusinessFoundation.Data" />
      <section name="metaObject" type="Mediachase.BusinessFoundation.Data.Meta.Configuration.MetaObjectSection, Mediachase.BusinessFoundation.Data" />
      <section name="businessManager" type="Mediachase.BusinessFoundation.Data.Business.Configuration.BusinessManagerSection, Mediachase.BusinessFoundation.Data" />
    </sectionGroup>
    <sectionGroup name="Mediachase.BusinessFoundation">
      <section name="BusinessFoundationSettings" type="Mediachase.BusinessFoundation.Configuration.BusinessFoundationConfigurationSection, Mediachase.BusinessFoundation" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ApplicationModules" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data.Cache" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Events" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Licensing" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Configuration" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Enterprise" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ImageLibrary" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.LinkAnalyzer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Web.WebControls" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.XForms" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.10.1.0" newVersion="10.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.30930.28736" newVersion="3.0.30930.28736" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Business.Commerce" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Commerce.Internal.Migration" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.BusinessFoundation.Data" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.BusinessFoundation" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce" publicKeyToken="6e58b501b34abce3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Marketing.Validators" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.17.2.0" newVersion="12.17.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Plugins.Payment" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Plugins.Shipping" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Website" publicKeyToken="6e58b501b34abce3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Commerce.Workflow" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.DataProvider" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.FileUploader" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.MetaDataPlus" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Search" publicKeyToken="6e58b501b34abce3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Search.Extensions" publicKeyToken="6e58b501b34abce3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.Search.LuceneSearchProvider" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.SqlDataProvider" publicKeyToken="41d2e7a615ba286c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mediachase.WebConsoleLib" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nsoftware.IBizPay" publicKeyToken="cdc168f89cffe9cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3575.0" newVersion="4.1.3575.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.463" newVersion="3.1.9.463" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework.AspNet" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Cms.AspNet" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.13.0.0" newVersion="11.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Commerce.Reporting" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.12.0.0" newVersion="13.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ServiceLocation.StructureMap" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EPiServerDB" connectionString="Server=(localdb)\MSSQLLocalDB;Database=Console.CMS;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EcfSqlConnection" connectionString="Server=(localdb)\MSSQLLocalDB;Database=Console.Commerce;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <episerver.framework>
    <appData basePath="C:\Develop\Episerver.Console\Episerver.Console.Client\App_Data" />
    <scanAssembly forceBinFolderScan="true" />
    <virtualRoles addClaims="true">
      <providers>
        <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
        <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
        <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
        <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
        <add name="CmsAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
        <add name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebEditors" mode="Any" />
        <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
        <add name="PackagingAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
        <add name="CommerceAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
      </providers>
    </virtualRoles>
    <virtualPathProviders>
      <clear />
    </virtualPathProviders>
    <geolocation>
      <providers>
        <clear />
      </providers>
    </geolocation>
  </episerver.framework>
  <mediachase.businessFoundation.data>
    <businessManager configSource="Configs\baf.data.manager.config">
    </businessManager>
    <metaObject configSource="Configs\baf.data.metaobject.config">
    </metaObject>
  </mediachase.businessFoundation.data>
  <Mediachase.BusinessFoundation>
    <BusinessFoundationSettings configSource="Configs\baf.config">
    </BusinessFoundationSettings>
  </Mediachase.BusinessFoundation>
  <CommerceFramework>
    <Mediachase.Search configSource="Configs\Mediachase.Search.config" />
    <AssetManagement configSource="Configs\ecf.asset.config">
    </AssetManagement>
    <Application configSource="Configs\ecf.app.config">
    </Application>
    <Catalog configSource="Configs\ecf.catalog.config">
    </Catalog>
    <Marketing configSource="Configs\ecf.marketing.config">
    </Marketing>
    <Orders configSource="Configs\ecf.order.config">
    </Orders>
    <Customers configSource="Configs\ecf.customer.config">
    </Customers>
    <Security configSource="Configs\ecf.security.config">
    </Security>
    <SSL configSource="Configs\ecf.ssl.config">
    </SSL>
    <Customization configSource="Configs\ecf.customization.config">
    </Customization>
  </CommerceFramework>
  <FrameworkProviders>
    <dataService defaultProvider="SqlDataProvider">
      <providers>
        <add name="SqlDataProvider" type="Mediachase.Data.Provider.SqlDataProvider, Mediachase.SqlDataProvider" connectionStringName="EcfSqlConnection" applicationName="ECApplication" />
      </providers>
    </dataService>
  </FrameworkProviders>
</configuration>